{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Connexion{% endblock %}

{% block body %}
<div class="content-form-login">

    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form class="form-login" method="post">
                    {% if error %}
                    <div class="alert alert-danger">
                        Identifiant ou mot de passe incorrect !
                    </div>
                    {% endif %}
                    <h1 class="h3 mt-3 mb-5 font-weight-normal">Bienvenue à la plateforme SunuLégislatives2022
                    </h1>
                    <div class="form-group">

                        <label class="pb-2" for="inputUsername">Identifiant <span style="color: red;">*</span>
                        </label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                            placeholder="Entrer votre identifiant" class="form-control" autocomplete="username" required
                            autofocus>
                    </div>
                    <div class="form-group mt-3">

                        <label class="pb-2" for="inputPassword">Mot de passe <span style="color: red;">*</span>
                        </label>
                        <input type="password" placeholder="Entrer votre mot de passe" name="password"
                            id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <button class=" mt-5 btn btn-lg btn-primary" type="submit">
                        Connexion <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}