{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Connexion{% endblock %}

{% block body %}
<div class="content-form-login">

    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form class="form-login" method="post">
                    {% if error %}
                    <div class="alert alert-danger">
                        Identifiant ou mot de passe incorrect !
                    </div>
                    {% endif %}
                    <h1 class="h3 mt-3 mb-5 font-weight-normal">Bienvenue sur la plateforme SunuLégislatives2022
                    </h1>
                    <div class="form-group">

                        <label class="pb-2" for="inputUsername">Identifiant <span style="color: red;">*</span>
                        </label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                            placeholder="Entrer votre identifiant" class="form-control" autocomplete="username" required
                            autofocus>
                    </div>
                    <div class="form-group mt-3">

                        <label class="pb-2" for="inputPassword">Mot de passe <span style="color: red;">*</span>
                        </label>
                        <div class="input-group">

                            <input type="password" placeholder="Entrer votre mot de passe" name="password"
                                id="inputPassword" class="form-control pwd" autocomplete="current-password" required>
                            <div class="input-group-prepend">

                                <div class="input-group-text"> <i class="fa-solid fa-eye" id="togglePassword"></i></div>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <button class=" mt-5 btn btn-lg btn-primary" type="submit">
                        Connexion <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    form .input-group-text {
        cursor: pointer;
    }

    .input-group-text {
        display: block;
        align-items: center;
        padding: 15px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        white-space: nowrap;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0 .375rem .375rem 0;
    }

    .pwd {
        border-radius: 5px 0 0 5px !important;
    }
</style>
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#inputPassword");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("fa-eye-slash");
    });

    // prevent form submit
    // const form = document.querySelector("form");
    // form.addEventListener('submit', function (e) {
    //     e.preventDefault();
    // });
</script>
{% endblock %}