{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | supprimer tous les résultats{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="content">

        <div class="card">
            <div class="card-header">
                Supprimer tous les résultats
            </div>
            <div class="card-body">
                <a href="{{path('delete_all')}}" class="btn btn-danger"  rel="noopener noreferrer" onclick="return confirm('Êtes-vous sûr de bien vouloir supprimer tous les résultats?');">Supprimer</a>
            </div>
        </div>

    </div>

</div>
{% endblock %}