{% extends 'base.html.twig' %}

{% block title %}Nouveau bureau de vote{% endblock %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="card">
            <div class="card-header">
               <h4> Ajouter un nouveau bureau de vote</h4>
            </div>
            <div class="card-body">
                {{ include('bureau_vote/_form.html.twig') }}
            </div>
        </div>


    </div>
</div>

{% endblock %}