{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<div class="row">
    {{ form_widget(form) }}
</div>
<button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}