{% extends 'base.html.twig' %}

{% block title %}Edit Resultat{% endblock %}

{% block body %}
    <h1>Edit Resultat</h1>

    {{ include('resultat/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
