{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Ajouter un nouveau representant{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card mt-5">
        <div class="card-header">
            <h1 class="h3 pt-2 font-weight-normal">Bienvenue sur la plateforme SunuLégislatives2022
            </h1>
        </div>
        <div class="card-body">
            <p>
                Les élections législatives sénégalaises de 2022 se déroulent le 31 juillet 2022 afin de renouveler pour
                cinq (5) ans les cent soixante-cinq (165) membres de l'assemblée nationale du Sénégal. La répartition
                de ces membres se fera selon un mode de scrutin parallèle dans cinquante-quatre (54)
                circonscriptions électorales reparties ainsi qu’il suit : quarante-six (46) départements du Sénégal et
                huit (8) circonscriptions de la diaspora.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
            </p>
        </div>
    </div>
    <div class="mt-3 ">
        <a href="{{path('app_circonscription_add')}}" class="btn btn-success float-end ">Suivant</a>
    </div>

</div>
{% endblock %}