{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Ajouter un nouveau representant{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card mt-5">
        <div class="card-header">
            <h1 class="h3 pt-2 font-weight-normal">Bienvenue sur la plateforme SunuLégislatives2022
            </h1>
        </div>
        <div class="card-body">
            <p>
                Chers Citoyens, chers Militants, comme vous le savez, les élections législatives de notre pays se
                dérouleront le 31 juillet 2022 afin de renouveler pour cinq (5) ans les cent soixante-cinq (165)
                membres de l'assemblée nationale du Sénégal.
            </p>
            <p></p>
            <p>
                Pour permettre de collecter l’ensemble des résultats des 15 196 bureaux de vote du territoire
                national, répartis dans les 46 départements du Sénégal et dans les 552 communes du Sénégal, notre
                Coalition a mis en place cette plateforme.
            </p>
            <p></p>
            <p>
                Chers Militants, si vous souhaitez faire partie de la vaillante équipe de notre Coalition en charge de
                transmettre les résultats des Bureaux de Vote. C’est simple, il vous suffit de vous inscrire en tant que
                Représentant.
            </p>
            <p style="color: red">
                Après inscription, votre identifiant et votre mot de passe pour accéder à la plateforme de saisie des
                résultats vous seront envoyés par SMS.
            </p>
            <p>
                Le jour du Vote, après dépouillement, vous pourrez ainsi vous connecter au lien qui vous a été
                envoyé par SMS pour saisir l’ensemble des résultats du bureau de vote pour lequel vous avez décidé
                d’être le Rapporteur des résultats.
            </p>

            <p>
                Chers Militants, avec votre engagement et votre sens de la responsabilité, vous nous permettrez
                d’avoir en temps réel les résultats de l’ensemble des bureaux de vote du Sénégal.
            </p>

            <p>
                <strong style="text-decoration: underline">Pour vous inscrire et devenir rapporteur de résultats d’un
                    bureau de vote, il suffit :</strong>
            <ul>
                <style>
                    li {
                        padding: 10px;
                    }
                </style>
                <li>
                    de cliquer en bas de cette page sur le bouton « suivant » ;
                </li>
                <li>
                    de choisir le département pour lequel vous choisissez de faire partie des rapporteurs de
                    résultats ;
                </li>
                <li>
                    de choisir la commune ;
                </li>
                <li>
                    de choisir le lieu / centre de vote pour lequel, vous désirez faire partie des rapporteurs de
                    résultats ;
                </li>
                <li>
                    de choisir <span style="text-decoration: underline;background-color:yellow">le numéro du
                        Bureau</span> de vote pour lequel, vous avez décidé que vous
                    communiquerez les résultats.
                </li>
                <li>
                    de donner les informations qui nous permettront de vous envoyer par SMS avant les
                    élections votre identifiant et votre mot de passe pour saisir les résultats du Bureau de Vote.
                </li>
            </ul>
            </p>
            <p>
                <strong style="text-decoration: underline;">Quelques précisions et informations générales :</strong>
            </p>
            <ul>
                <style>
                    li.li-2 {
                        list-style: none;
                    }
                </style>
                <li class="li-2">
                    <strong>
                        1. Vous avez la possibilité d’être le rapporteur des résultats du bureau de vote de votre
                        choix ;
                    </strong>
                </li>
                <li class="li-2"><strong>
                        2. Avant de renseigner les résultats de bureau de vote que vous avez choisi, il faut attendre
                        les résultats du dépouillement ;
                    </strong></li>
                <li class="li-2">
                    <strong>
                        3. Il faut s’assurer que vous donnez bien les résultats du bureau de vote pour lequel vous
                        avez choisi d’être le Rapporteur. Donc, attention à ne pas vous tromper de résultats de
                        bureau de vote ;
                    </strong>
                </li>
                <li class="li-2">
                    <strong>
                        4. Assurez-vous de bien donner les bons résultats ;
                    </strong>
                </li>
                <li class="li-2">
                    <strong>
                        5. Vous ne pouvez être rapporteur de résultats que d’un seul et unique bureau de vote.
                    </strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-3 pb-3 ">
        <a href="{{path('app_circonscription_add')}}" class="btn btn-success float-end mb-3">Suivant</a>
    </div>
    <style>
        p {
            padding: 5px;
        }
    </style>
</div>
{% endblock %}