{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Termes et Conditions{% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h1 class="h3 pt-2 font-weight-normal">J'accepte les termes et conditions
            </h1>
        </div>
        <div class="card-body">
           
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus hic animi facere excepturi nisi ut
                nihil esse ex quam repellendus, nemo dolorum cupiditate cum exercitationem? Vero suscipit sint voluptate
                odit!
            </p>
        </div>
    </div>
    <div class="mt-3 ">
        <a href="{{path('app_infos_add')}}" class="btn btn-success float-end ">Continuer</a>
    </div>

</div>

{% endblock %}