{% extends "base.html.twig" %}

{% block title %}Page non trouvée | Bee Digital{% endblock %}

{% block body %}
<div class="container">
    <div class="erreur">
        <div class="container">
            <div class="row  d-flex align-items-center">
                <div class="col-md-6 mx-auto">
                    <img src="{{asset('images/404.png')}}" width="100%" alt="Erreur 404" srcset="">
                    <div class="text-center">
                        <h2 class="mt-3">Cette page n'existe pas.</h2>
                        <p>Vous pouvez retournez à l'acceuil pour voir nos services. </p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}